:root {
  --description-font-color: rgba(116, 125, 140, 1);
}

:root.dark {
  --description-font-color: rgba(255, 255, 255, 1);
}

.VPHome {
  // 自定义首页背景图
  &::before {
    background-image: none;
    background-image: url(./assets/cover.jpg);
    background-size: cover;
  }
  // 定义遮罩样式
  background: rgba(206, 214, 224, 0.7);
  // background: line-gradient(
  //   to bottom,
  //   rgba(var(--bg-gradient-home), 1) 0%,
  //   rgba(var(--bg-gradient-home), 0) 150%
  // );
}
