.VPHome {
  // 自定义首页背景图
  &::before {
    background-image: none;
    // background-image: url(./assets/cover.png);
    // background-size: cover;
  }
  // 定义遮罩样式
  background: rgba(223, 228, 234, 1);
  // background: line-gradient(
  //   to bottom,
  //   rgba(var(--bg-gradient-home), 1) 0%,
  //   rgba(var(--bg-gradient-home), 0) 150%
  // );
}
